@import "https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap";

.mainDiv{

    display:flex;
    justify-content: center;
    align-items: center;
    gap: 0.7vw;
    height: 100%;
}
.logoDiv {
   width: 50px;
   height: 50px;
   animation: Rotate 1s ease-out 2s infinite, Scale 2s ease  ;
}
.text{

opacity: 0;
    animation: word 2s forwards 1.3s;

    color: #E7E7E7;
    color: color(display-p3 0.9075 0.9075 0.9075);
    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@keyframes word{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes Rotate {
   from {
       transform: rotate(0deg);
   }
   to {
       transform: rotate(360deg);
   }
}

@keyframes Scale {
   to {
       transform: scale(1, 1) rotate(0deg);
       
   }
   from {
       transform: scale(3, 3) rotate(-90deg) ;
   }
}



.logoParent{
    
    
    
    animation-name: RotateCurv; 
    animation-duration: 1s; 
    animation-timing-function: ease;
    position: relative;
    
}

.stickDiv{
    position: absolute;

    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    animation: stick 2s forwards 1.3s;

}

@keyframes stick{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




@keyframes RotateCurv {
     to {
        transform: translateY(0px);
    }


   
    from {
       transform: translate(-100px,500px);
    }
}  
       


.mainBody{
    background-color: black;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

